/* basic */

/* layout */
.bg-primary {
    background-color: var(--color-primary-light);
    color: var(--color-primary-light-anti);
}
.bg-grey {
    background-color: var(--color-grey);
    color: var(--color-grey-anti);
}
h2 {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    text-transform: capitalize;
}
    h2::before {
        content: '';
        display: inline-block;
        width: 50px;
        height: 3px;
        background-color: var(--color-primary-light);
        margin: -65px calc(50% - 25px);
    }
    h2::after {
        content: '';
        display: inline-block;
        width: 90px;
        height: 3px;
        background-color: var(--color-primary-light);
        margin: 7px calc(50% - 45px);
    }
    h2.up {
        text-transform: uppercase;
    }
/* header */

/* hero */
#hero {
    min-height: 100vh;
}

/* about us */

/* portfolio */

/* services */
.service {
    display: inline-block;
    padding: 20px;    
    text-align: center;
}
    .service > i {
        display: inline-block;
        font-size: 50px;
        line-height: 50px;
    }
    .service > h3 {
        display: inline-block;
        width: 100%;
        margin: 10px 0;
        font-size: 20px;
        line-height: 20px;
    }
    .service > p {
        display: inline-block;
        width: 100%;
        font-size: 14px;
        line-height: 20px;
    }
/* team */

/* numbers */
.bg-achievements {
    background-image: url(../img/count-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.achievement {
    display: inline-block;
    padding: 20px 0;    
    text-align: center;
}
    .achievement > .center {
        display: inline-block;        
    }
    .achievement  i {
        display: inline-block;
        font-size: 50px;
        line-height: 60px;
        text-align: right;
    }
    .achievement  .texts {
        display: inline-block;
        margin-left: 15px;
        text-align: left;
    }
        .achievement  .texts > .number {
            display: inline-block;            
            font-size: 40px;
            line-height: 50px;
            font-weight: bold;
        }
        .achievement  .texts > .title {
            display: inline-block;
            font-size: 18px;
            line-height: 20px;
            text-transform: uppercase;
        }

/* pricing */

/* blog */

/* testimonials */

/* get in touch */

/* map */

/* footer */