.gallery {
    display: inline-block;
    width: 100%;
    text-align: center;
}
    .gallery > .filter {
        display: inline-block;
        margin-bottom: 50px;
    }
        .gallery > .filter > .item {
            display: inline-block;
            padding: 5px 20px;
            font-size: 12px;
            line-height: 20px;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-weight: bold;
            cursor: pointer;
            border-radius: 15px;
            background-color: #fff;
            box-shadow: 0 3px 15px rgba(0, 0, 0, 0.08);
        }        
            .gallery > .filter > .item + .item {
                margin-left: 20px;
            }
            .gallery > .filter > .item:hover {
                color: var(--color-primary-dark);
            }
            .gallery > .filter > .item.active {
                background: var(--color-primary-light);
                background: -moz-linear-gradient(90deg, var(--color-primary-light) 0%, var(--color-primary-dark) 100%);
                background: -webkit-linear-gradient(90deg, var(--color-primary-light) 0%, var(--color-primary-dark) 100%);
                background: linear-gradient(90deg, var(--color-primary-light) 0%, var(--color-primary-dark) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#01C6FB",endColorstr="#0066EB",GradientType=1);
                color: var(--color-primary-light-anti);
            }
    .gallery > .list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        grid-auto-flow: dense;
    }
        .gallery > .list > .item {
            grid-row: span 1 / auto;
            position: relative;
            border-radius: 10px;
            overflow: hidden;            
        }
            .gallery > .list > .item.hide {
                display: none;            
            }
        .gallery > .list > .item.size-2 {
            grid-row: span 2 / auto;
        }        
            .gallery .item > .hover {
                display: inline-block;
                position: absolute;
                top: 50%;
                left: 50%;
                right: 50%;
                bottom: 50%;
                overflow: hidden;
                background-color: #000c;
                transition: all 0.3s;
            }
                .gallery .item:hover > .hover {            
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;                           
                }
                .gallery .item > .hover > a {
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    overflow: hidden;
                    text-align: center;
                    text-decoration: none;
                    color: #fff;
                    font-size: 0;
                    line-height: 0;
                }
                    .gallery .item:hover > .hover > a {
                        font-size: 30px;
                        line-height: 30px;
                        transition: all 0.5s;
                    }
                    .gallery .item > .hover > a:hover {
                        color: var(--color-primary-dark);
                        transition: color 0s;
                    }