:root{
    --color-primary-light: #01C6FB;
    --color-primary-light-anti: #fff;

    --color-primary-dark: #0066EB;
    --color-primary-dark-anti: #fff;

    --color-star: #F6B56C;

    --color-grey: #F5F5F5;
    --color-grey-anti: #333;
}